@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('woff2');
    font-weight: 700;
}

body {
    font-family: 'Roboto', system-ui, sans-serif !important;
}

.sidebar-link {
    border-radius: 6px;
    transition: all 0.2s;
}

.sidebar-link:hover {
    background: rgba(255, 255, 255, 0.15);
    padding-left: 18px;
}

.sidebar-sub {
    font-size: 0.9rem;
    padding-left: 10px;
}

.sidebar-sub:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.content-area {
    margin-left: 250px;
}

#toggle-button {
    display: none;
}

@media (max-width: 768px) {
    #toggle-button {
        display: inline-block;
    }

    .content-area {
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) {

    aside {
        position: static !important;
        left: 0 !important;
    }


}